[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ec2-user/.pyenv/versions/podo-deploy/bin/uwsgi -i /home/ec2-user/team8-server/podo_server/podo_server.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
